ion-content {
    --background: #ebebeb;
    width: 100%;
    height: 100%;
}

ion-item {
    --background: #ebebeb;
}

.word {
    font-size: 35px;
    font-weight: bold;
    color: #307351;
    font-family:'Times New Roman', Times, serif
}

.pronunciation {
    font-size: 20px;
    font-weight: bold;
    color: #111111;
    font-family:'Times New Roman', Times, serif
}

h3 {
    font-size: 15px;
    font-weight: bold;
    color: #111111;
    font-family:'Times New Roman', Times, serif
}

p {
    text-align: justify;
    font-size: 15px;
    color: #111111;
}

#main {
    border-bottom-style: solid;
    border-bottom-color: #646f4b;
    margin-bottom: 10%;
}

#definitions {
    size: 90%;
}

.partOfSpeech {
    font-style: italic;
    font-weight: bold;
}

.results {
    border-bottom-style: solid;
    border-bottom-color: #646f4b;
    border-width: thin;
}

.synonyms {
    display: flex;
}

.antonyms {
    display: flex;
}
