<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="main">
    <ion-item lines="none">
      <h1>Word</h1>
    </ion-item>
    <ion-item lines="none">
      <div>
        <h2>Pronunciation</h2>
      </div>
    </ion-item>
  </div>
  <ion-item lines="none">
    <div id="definitions">
      <h3><strong>PartOfSpeech</strong></h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipis cing elit. Nulla
        hendrerit est vel ultricies dapib us. Aliquam posuere tincidunt massa.
        Phasellus lacini a nulla turpis, lacinia luctus nulla convallis id.
        Suspendi sse eget lectus vehicula ligula interdum varius. Mauris
        tristique tellus augue, eget ultricies metus semper id.
      </p>
      <br />
    </div>
  </ion-item>
</ion-content>
