<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="wordDetails">
  <div id="main">
    <ion-item lines="none" class="word">
      {{ wordDetails.word }}
    </ion-item>
    <ion-item lines="none" class="pronunciation">
      {{ wordDetails.pronunciation.all }}
    </ion-item>
  </div>
  <ion-list *ngFor="let result of wordDetails.results" class="results">
    <ion-item class="partOfSpeech" lines="none">
      {{ result.partOfSpeech }}
    </ion-item>
    <!-- Mostra a definição -->
    <ion-item class="definition" lines="none">
      {{ result.definition }}
    </ion-item>
    <!-- Mostra os exemplos -->
    <ion-item lines="none" *ngIf="result.examples">
      <p>Examples:</p>
      <ion-list *ngIf="result.examples">
        <ion-item lines="none" class="example" *ngFor="let example of result.examples">
          {{ example }}
        </ion-item>
      </ion-list>
    </ion-item>
    <!-- Mostra os sinônimos -->
    <ion-item lines="none" *ngIf="result.synonyms">
      <p>Synonyms:</p> 
      <ion-list *ngFor="let synonym of result.synonyms" class="synonyms">
        <ion-item class="synonym" lines="none">
          {{ synonym }};
        </ion-item>
      </ion-list>
    </ion-item>
    <!-- Mostra os antônimos -->
    <ion-item lines="none" *ngIf="result.antonyms">
      <p>Antonyms:</p>
      <ion-list *ngFor="let antonym of result.antonyms" class="antonyms">
        <ion-item class="antonym" lines="none">
          {{ antonym }};
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>