ion-content {
  --background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #aa7dce;
  text-align: center;
}
ion-item {
  text-align: center;
  --background: #111111;
}

ion-buttom {
  --background: #111111;
}

.container {
  display: flex;
  justify-content: center;
}
